<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>API | Spreadit</title>
</head>

<body>
    <div class="container">
        <h1>Spreadit</h1>

        <p>This API is being developed as the means by which I get my first job as a software engineer. I will thrive in
            that environment, as I will enter it with humility and a complete willingness to become a better human being
            by
            facing all the challenges that I encounter with an open mind.</p>
        <p>The project consists of three parts:</p>
        <ul>
            <li>The Front End - <a href="https://www.spreadit.pro">www.spreadit.pro</a>: This is an interface that I
                built to test everything that happens on the back end. You can create a user, and the idea is for that
                user to interact with the API in a persistent way and through that interaction I will better understand
                what features to add to the whole system to make it more useful. I love the idea of persisting data and
                how a database can help to do that, and I build this front end with that in mind.</li>
            <li>The Back End - <a href="https://api.spreadit.pro">api.spreadit.pro</a>: The place where you are at right
                now. The intention here is to build an API on top of the one of Buda.com, and to give information to
                developers about the different markets that are being transacted in that platform.</li>
            <li>The Documentation - <a href="https://docs.spreadit.pro">docs.spreadit.pro</a>: There can't be good
                software if there is not a proper understanding of how it works, and how to do what needs to be done in
                order to make it work. The documentation is the go-to resource so that you can better inform yourself
                how to interact with the API and front end and make the most out of your time using this tools that I
                have built.</li>
        </ul>
        <p>If you have any questions related to the system, please email me at: jp@theopensourcefactory.com</p>
        <p>If you want to contribute to any of the elements of this project, here are the github repos:</p>
        <ul>
            <li><a target="_blank" href="https://www.github.com/jpfraneto/spreadit-front">The Front End</a></li>
            <li><a target="_blank" href="https://www.github.com/jpfraneto/spreadit">The Back End</a></li>
            <li><a target="_blank" href="https://www.github.com/jpfraneto/spreadit-docs">The Docs</a></li>
        </ul>
        <p>Thank you for reading. Thank you for helping me. Thank you for giving your best in anything you do. We all
            benefit from that.</p>
        <p>jp</p>
        <hr />
        <p>PS: Let's get in touch at twitter, my handle is @jpfraneto</p>
        <p>PS2: If you want to listen to cool music, here is a great project that I created for that:
            <a href="https://www.human-music.com" target="_blank">www.human-music.com</a>
        </p>

    </div>

    <script src="/scripts/script.js"></script>
</body>

</html>